source http://www.nuget.org/api/v2/

group Build
  source http://www.nuget.org/api/v2/
  framework: >= net45
  nuget SourceLink.Create.CommandLine

group Analyzers
  source http://www.nuget.org/api/v2/
  framework: >= net45
  nuget StyleCop.Analyzers
  nuget WpfAnalyzers
  nuget JetBrains.Annotations

group Test
  source http://www.nuget.org/api/v2/
  framework: >= net45
  nuget NUnit
  nuget Gu.Wpf.UiAutomation