source http://www.nuget.org/api/v2/

group Build
  source http://www.nuget.org/api/v2/
  nuget SourceLink.Create.CommandLine

group Analyzers
  source http://nuget.org/api/v2

  framework:auto-detect

  nuget AsyncUsageAnalyzers
  nuget Gu.Analyzers
  nuget IDisposableAnalyzers
  nuget Microsoft.CodeAnalysis.FxCopAnalyzers
  nuget Microsoft.CodeAnalysis.PublicApiAnalyzers
  nuget PropertyChangedAnalyzers
  nuget ReflectionAnalyzers prerelease
  nuget StyleCop.Analyzers prerelease
  nuget WpfAnalyzers
  nuget JetBrains.Annotations

group Test
  source http://www.nuget.org/api/v2/
  storage:none

  framework:auto-detect

  nuget Microsoft.NET.Test.Sdk
  nuget NUnit
  nuget NUnit3TestAdapter
  nuget Gu.Wpf.UiAutomation