type project
title Gu.Wpf.DataGrid2D
tags xaml wpf datagrid attachedproperty
projectUrl https://github.com/JohanLarsson/Gu.Wpf.DataGrid2D
licenseUrl http://opensource.org/licenses/MIT

excludeddependencies
  JetBrains.Annotations
  StyleCop.Analyzers
  WpfAnalyzers